#header {
	background: #bb0c23;
}

.container {
	width: 1200px;
	margin: auto;
}

#header .container {
	display: flex;
	align-items: center;
}

#header .container a {
	width: 12%;
	text-decoration: none;
	color: #f5f5f5;
}

#header ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	list-style: none;
	line-height: 60px;
	width: 100%;
}

#header li {
	margin: 0 10px 0 0;
}

#header li a:hover {
	border-bottom: 2px solid #fff;
}

#header li a {
	padding: 20px 12px;
}

.slug img {
	height: 600px;
	width: 100%;
}

#footer {
	background: #eee;
	height: 300px;
	border-bottom: 10px solid #bb0c23;
}

.examples .container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

label {
	display: block;
}

#contato {
	margin-bottom: 30px;
}